# dependencies
vendor/
node_modules/

# build output
dist/
assets/build/

# environment variables
.env
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# IDE
.idea/

# generated types
.astro/
.claude/
